n8n_workflows/central_integration_workflow.json
{
  "name": "Rarity Leads - Central Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "webhook/lead-action",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "name": "Webhook Trigger (from Frontend)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 450]
    },
    {
      "parameters": {
        "value": "=IF($json.body.action === 'new_lead', 'new_lead', IF($json.body.action === 'send_outreach', 'send_outreach', IF($json.body.action === 'sync_crm', 'sync_crm', IF($json.body.action === 'update_analytics', 'update_analytics', 'unknown'))))"
      },
      "name": "Determine Action Type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 450],
      "outputs": [
        { "name": "new_lead" },
        { "name": "send_outreach" },
        { "name": "sync_crm" },
        { "name": "update_analytics" }
      ]
    },

    {
      "parameters": {
        "url": "https://api.clearbit.com/v2/companies/find?domain={{ $json.body.company_domain }}",
        "authentication": "headerAuth",
        "headerAuth": {
          "headerName": "Authorization",
          "headerValue": "Bearer SUA_CHAVE_DE_API_CLEARBIT_APOLLO"
        }
      },
      "name": "Enrich Lead Data (Clearbit/Apollo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 150],
      "notesInFlow": "Placeholder para Clearbit, Apollo, Crunchbase, ZoomInfo, Econodata, LinkedIn Sales Navigator. Ajustar URL/corpo conforme a API."
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "leads",
        "columns": {
          "columns": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "company_name",
              "value": "={{ $json.company.name || $json.body.company_name }}"
            },
            {
              "name": "enriched_data",
              "value": "={{ JSON.stringify($node['Enrich Lead Data (Clearbit/Apollo)'].json) }}"
            },
            {
              "name": "lead_status",
              "value": "new"
            }
          ]
        },
        "onConflict": {}
      },
      "name": "Insert Lead into Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [950, 150],
      "credentials": {
        "supabaseApi": {
          "id": null,
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "value": "=IF($json.lead_status === 'new' && $json.company_size > 50 && $json.technologies.includes('marketing_automation'), 'high', IF($json.lead_status === 'new' && $json.company_size > 10, 'medium', 'low'))"
      },
      "name": "Score Lead (AI Logic Stub)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1200, 150],
      "notesInFlow": "Lógica de scoring AI baseada em firmographics, technographics e intent. Substituir por chamada OpenAI/custom function se a lógica for complexa."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "leads",
        "filters": {
          "filters": [
            {
              "field": "id",
              "operator": "eq",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "columns": [
            {
              "name": "score",
              "value": "={{ $node['Score Lead (AI Logic Stub)'].json.value }}"
            }
          ]
        }
      },
      "name": "Update Lead Score in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 150],
      "credentials": {
        "supabaseApi": {
          "id": null,
          "name": "Supabase Account"
        }
      }
    },

    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "leads",
        "filters": {
          "filters": [
            {
              "field": "id",
              "operator": "eq",
              "value": "={{ $json.body.lead_id }}"
            }
          ]
        }
      },
      "name": "Fetch Lead Data (for Outreach)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 450],
      "credentials": {
        "supabaseApi": {
          "id": null,
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "Você é um SDR de alta performance. Escreva uma mensagem curta e personalizada para {{$json.lead_name}}, que é {{$json.role}} na {{$json.company_name}}. Mencione que você atua no setor de {{$json.industry}}. O objetivo é apenas iniciar uma conversa, não vender nada ainda. A mensagem é para ser enviada via {{$json.body.channel}}."
      },
      "name": "Generate Personalized Message (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [950, 450],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.channel }}",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "name": "If WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 350]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/SEU_ID_DO_NUMERO_DE_TELEFONE_AQUI/messages",
        "authentication": "bearer",
        "options": {
          "body": {
            "messaging_product": "whatsapp",
            "to": "={{ $json.phone_number }}",
            "type": "text",
            "text": {
                "body": "{{ $node['Generate Personalized Message (OpenAI)'].json.choices[0].message.content }}"
            }
          }
        }
      },
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 350],
       "credentials": {
        "httpBearerAuth": {
          "id": null,
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.channel }}",
              "value2": "linkedin"
            }
          ]
        }
      },
      "name": "If LinkedIn",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/messages",
        "authentication": "bearer",
        "options": {
          "body": {
            "recipients": [
              {
                "person": "urn:li:person:{{ $json.linkedin_member_id }}"
              }
            ],
            "body": {
              "locale": {
                "language": "en",
                "country": "US"
              },
              "text": "{{ $node['Generate Personalized Message (OpenAI)'].json.choices[0].message.content }}"
            }
          }
        }
      },
      "name": "Send LinkedIn DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 500],
       "credentials": {
        "httpBearerAuth": {
          "id": null,
          "name": "LinkedIn API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.channel }}",
              "value2": "instagram"
            }
          ]
        }
      },
      "name": "If Instagram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 650]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{ $json.instagram_business_account_id }}/messages",
        "authentication": "bearer",
        "options": {
          "body": {
            "recipient": {
              "id": "{{ $json.instagram_user_id }}"
            },
            "message": {
              "text": "{{ $node['Generate Personalized Message (OpenAI)'].json.choices[0].message.content }}"
            }
          }
        }
      },
      "name": "Send Instagram DM (Stub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 650],
       "credentials": {
        "httpBearerAuth": {
          "id": null,
          "name": "Facebook/Instagram API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.channel }}",
              "value2": "x"
            }
          ]
        }
      },
      "name": "If X (Twitter)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 800]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/dm_events",
        "authentication": "bearer",
        "options": {
          "body": {
            "event": {
              "type": "message_create",
              "message_create": {
                "target": {
                  "recipient_id": "{{ $json.twitter_user_id }}"
                },
                "message_data": {
                  "text": "{{ $node['Generate Personalized Message (OpenAI)'].json.choices[0].message.content }}"
                }
              }
            }
          }
        }
      },
      "name": "Send X (Twitter) DM (Stub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 800],
       "credentials": {
        "httpBearerAuth": {
          "id": null,
          "name": "Twitter API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "leads",
        "filters": {
          "filters": [
            {
              "field": "id",
              "operator": "eq",
              "value": "={{ $json.body.lead_id }}"
            }
          ]
        },
        "columns": {
          "columns": [
            {
              "name": "last_outreach_channel",
              "value": "={{ $json.body.channel }}"
            },
            {
              "name": "lead_status",
              "value": "outreached"
            }
          ]
        }
      },
      "name": "Update Lead Status (Outreached)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1700, 550],
      "credentials": {
        "supabaseApi": {
          "id": null,
          "name": "Supabase Account"
        }
      }
    },

    {
      "parameters": {
        "operation": "createOrUpdate",
        "schema": "public",
        "table": "leads",
        "primaryKey": "email",
        "columns": {
          "columns": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "company",
              "value": "={{ $json.body.company_name }}"
            }
          ]
        }
      },
      "name": "Sync to CRM (HubSpot Stub)",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [700, 1000],
      "credentials": {
        "hubspotApi": {
          "id": null,
          "name": "HubSpot Account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ads.google.com/api/v1/customers/{{$json.body.ad_account_id}}/campaigns",
        "authentication": "bearer"
      },
      "name": "Update Ads API (Google Ads Stub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 1150],
       "credentials": {
        "httpBearerAuth": {
          "id": null,
          "name": "Google Ads API"
        }
      },
      "notesInFlow": "Integrar com dados de campanhas para insights de analytics"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{$json.body.ad_account_id}}/insights",
        "authentication": "bearer"
      },
      "name": "Update Ads API (Facebook Ads Stub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [950, 1150],
       "credentials": {
        "httpBearerAuth": {
          "id": null,
          "name": "Facebook Ads API"
        }
      },
      "notesInFlow": "Integrar com dados de campanhas para insights de analytics"
    }
  ],
  "connections": {
    "Webhook Trigger (from Frontend)": {
      "main": [
        [{ "node": "Determine Action Type", "type": "main", "index": 0 }]
      ]
    },
    "Determine Action Type": {
      "new_lead": [
        [{ "node": "Enrich Lead Data (Clearbit/Apollo)", "type": "main", "index": 0 }]
      ],
      "send_outreach": [
        [{ "node": "Fetch Lead Data (for Outreach)", "type": "main", "index": 0 }]
      ],
      "sync_crm": [
        [{ "node": "Sync to CRM (HubSpot Stub)", "type": "main", "index": 0 }]
      ],
      "update_analytics": [
        [{ "node": "Update Ads API (Google Ads Stub)", "type": "main", "index": 0 }]
      ]
    },
    "Enrich Lead Data (Clearbit/Apollo)": {
      "main": [
        [{ "node": "Insert Lead into Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Insert Lead into Supabase": {
      "main": [
        [{ "node": "Score Lead (AI Logic Stub)", "type": "main", "index": 0 }]
      ]
    },
    "Score Lead (AI Logic Stub)": {
      "main": [
        [{ "node": "Update Lead Score in Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Lead Data (for Outreach)": {
      "main": [
        [{ "node": "Generate Personalized Message (OpenAI)", "type": "main", "index": 0 }]
      ]
    },
    "Generate Personalized Message (OpenAI)": {
      "main": [
        [{ "node": "If WhatsApp", "type": "main", "index": 0 }],
        [{ "node": "If LinkedIn", "type": "main", "index": 0 }],
        [{ "node": "If Instagram", "type": "main", "index": 0 }],
        [{ "node": "If X (Twitter)", "type": "main", "index": 0 }]
      ]
    },
    "If WhatsApp": {
      "main": [
        [{ "node": "Send WhatsApp Message", "type": "main", "index": 0 }]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [{ "node": "Update Lead Status (Outreached)", "type": "main", "index": 0 }]
      ]
    },
    "If LinkedIn": {
      "main": [
        [{ "node": "Send LinkedIn DM", "type": "main", "index": 0 }]
      ]
    },
    "Send LinkedIn DM": {
      "main": [
        [{ "node": "Update Lead Status (Outreached)", "type": "main", "index": 0 }]
      ]
    },
    "If Instagram": {
      "main": [
        [{ "node": "Send Instagram DM (Stub)", "type": "main", "index": 0 }]
      ]
    },
    "Send Instagram DM (Stub)": {
      "main": [
        [{ "node": "Update Lead Status (Outreached)", "type": "main", "index": 0 }]
      ]
    },
    "If X (Twitter)": {
      "main": [
        [{ "node": "Send X (Twitter) DM (Stub)", "type": "main", "index": 0 }]
      ]
    },
    "Send X (Twitter) DM (Stub)": {
      "main": [
        [{ "node": "Update Lead Status (Outreached)", "type": "main", "index": 0 }]
      ]
    },
    "Sync to CRM (HubSpot Stub)": {
      "main": [
        []
      ]
    },
    "Update Ads API (Google Ads Stub)": {
      "main": [
        [{ "node": "Update Ads API (Facebook Ads Stub)", "type": "main", "index": 0 }]
      ]
    }
  }
}

