n8n_workflows/part_1_workflow_n8n_rarity_leads.json
{
  "name": "Rarity Leads - Lead Ingestion & Enrichment",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "authentication": "headerAuth",
        "options": {
          "body": {
            "q_organization_domains": "saas",
            "person_locations": [
              "Brazil"
            ]
          }
        }
      },
      "name": "Fetch Leads from Apollo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_APOLLO_CREDENTIALS_ID",
          "name": "Apollo API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://<YOUR_SUPABASE_URL>.supabase.co/rest/v1/leads",
        "options": {
          "body": {
            "user_id": "={{ $json.body.user_id }}",
            "lead_name": "={{ $json.person.name }}",
            "role": "={{ $json.person.title }}",
            "email": "={{ $json.person.email }}",
            "phone": "={{ $json.person.phone_numbers[0] }}",
            "linkedin_url": "={{ $json.person.linkedin_url }}",
            "company_name": "={{ $json.organization.name }}",
            "industry": "={{ $json.organization.industry }}",
            "location": "={{ $json.person.city }}, {{ $json.person.state }}",
            "enrichment_data": "={{ $json }}"
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<YOUR_SUPABASE_ANON_KEY>"
            },
            {
              "name": "Authorization",
              "value": "Bearer <YOUR_SUPABASE_SERVICE_ROLE_KEY>"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        }
      },
      "name": "Insert Lead into Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Fetch Leads from Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads from Apollo": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [
          {
            "node": "Insert Lead into Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
